


header {
    background: linear-gradient(to right, #ff7f50,#ff7f50 );
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

body {
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    background-color: #fff;
}

header h1 {
    font-size: 32px;
    color: white;
    font-weight: bold;
}

header nav {
    margin-top: 5px;
}

header nav a {
    margin: 0 15px;
    color: #fff3e0;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}

header nav a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6);
}



main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 20px;
}



.form-container {
    width: 100%;
    max-width: 420px;   
    background: #ffffff;
    padding: 25px;
    margin: 40px auto; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}
.form-container h2 {
    text-align: left;
    color: #ff7f50;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}


.form-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}

.form-box input,
.form-box select {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ddd;
    font-size: 16px;
    transition: 0.2s;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 15px;
}


button {
    width: 100%;
    padding: 12px;
    background-color: coral;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: coral;
}



footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    color: #999;
    font-size: 14px;
}



@media (max-width: 480px) {

    header h1 {
        font-size: 24px;
    }

    header nav a {
        font-size: 14px;
    }

    .cadastro-container {
        padding: 20px;
    }

    .titulo {
        font-size: 22px;
    }

    .btn {
        font-size: 16px;
    }
}
