body {
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    background-color: #fffaf5;
    margin: 0;
    padding-bottom: 70px;
    text-align: center;
}


header {
    background-color: #ff7f50;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.pet-card {
    background: #ffffff;
    width: 330px;
    margin: 25px auto;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.pet-card img {
    width: 100%;
    height: 260px;
    border-radius: 12px;
    object-fit: cover;
}


.botoes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes button {
    font-size: 1.3rem;
    padding: 10px 26px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-proximo {
    background-color: #ffa07a;
    color: white;
}

.btn-proximo:hover {
    background-color: #ff7f50;
}

.btn-match {
    background-color: #ff4d88;
    color: white;
}

.btn-match:hover {
    background-color: #e6326d;
}


#mensagem {
    color: coral;
    font-weight: bold;
    margin-top: 15px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: coral;
    color: white;
    padding: 8px;
}
